/* head of site */
header {
  font-size: 2rem;
  height: fit-content;
  background: #91cb3e;
  display: flex;
  align-items: center;
  justify-content: space-between; /* key change */
  border-bottom: black solid 2px;
  box-shadow: 4px 4px 10px black;
  padding: 5px 10px;
  position: sticky;
  top: 0; 
  z-index: 1000;
  height: 50;
}

/* menuBar */
.menuBar {
  display: flex;
  align-items: center;
  padding: 0.25vw;
  font-size: 1.5vw;
}

/* if you want to keep the radio styling */
.menuBar .radio {
  text-align: center;
}

.menuBar .radio button {
  display: none;
}

.menuBar .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: .05vh 1vw;
  color: black;
  text-decoration: none;
}

/* moving side bar */
.moving-text {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
  padding: 10px;
  background: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  z-index: 1000;
}

.moving-text li {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.moving-text li:hover {
  color: grey;
}
